/* ----------------| Fuente Poppins |--------------- */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Quicksand:wght@400;500;600;700&display=swap');

/* ----------------| Variables Css |--------------- */
:root{
    --header-height: 3.5rem;

    /* Colors */
    --first-color: #FF8C42;
    --second-color: #583E23;

    /* Font and typography */
    --body-font: 'Quicksand', sans-serif;
    --alt-font: 'Dancing Script', cursive;

    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* z Index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1124px) {
    :root{
        --normal-font-size: 1rem;
    }
}

/* ----------------| Base |--------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* Scroll light*/
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #F5EEE6;
    transition: .4s; /*For animation dark mode*/
}

h2 {
    font-weight: var(--font-bold);
}

h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
}

/* ----------------| Reusable Css Classes |--------------- */
.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding: 8.75rem 0 0;
}

.section__title {
    text-align: center;
    margin-bottom: .625rem;
    font-size: 2.625rem;
    font-weight: var(--font-medium);
    font-family: var(--alt-font);
}

.main {
    overflow: hidden; /* For animation ScrollReveal */
}

/* ----------------| Header |--------------- */
.header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.375rem;
}

.nav__toggle{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

/* Mobile menu action */
@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        background-color: var(--first-color);
        left: 0;
        top: -100%;
        width: 100%;
        padding: 5rem 4rem;
        border-radius: 0 0 .625rem .625rem;
        transition: .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}
.nav__link{
    color: white;
}
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Changes in the header */
.scroll-header{
    background-color: var(--first-color);
}

/* Active link */
.active-link{
    color: white;
    text-decoration: underline;
}

/* Active link menu */
.active-menu{
    border-radius: .625rem;
    background-color: var(--first-color);
    padding: .75rem 2rem;
    color: white;
}

/* Show menu */
.show-menu {
    top: 0;
}

/* ----------------| Home |--------------- */
.home{
    height: 28.125rem;
    background-image: linear-gradient(180deg, rgba(88, 62, 35, 0.8) 0%, rgba(30, 30, 30, 0.8) 100%), url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.home__title{
    font-size: 2.25rem;
    color: var(--first-color);
    font-weight: var(--font-bold);
    font-family: var(--alt-font);
    margin-bottom: 1.25rem;
}
.home__text{
    color: white;
    margin-bottom: 1.875rem;
}
.home__buttons{
    display: flex;
    gap: 1.5rem;
}

/* ----------------| Buttons |--------------- */
.button{
    border: 1px solid var(--first-color);
    border-radius: .625rem;
    background-color: var(--first-color);
    padding: .75rem 2rem;
    color: white;
}
.button:hover{
    background-color: #FF9853;
    transition: .3s;
}
.button--transparent{
    border: 1px solid var(--first-color);
    color: var(--first-color);
    border-radius: .625rem;
    padding: .75rem 2rem;
    background-color: transparent;
}
.button--transparent:hover{
    background-color: var(--first-color);
    transition: .3s;
    color: white;
}

/* ----------------| About |--------------- */
.about{
    padding: 0;
    position: relative;
}
.about__container{
    gap: 0;
    position: relative;
    bottom: 50px;
}
.about__img img{
    border-radius: .625rem;
}
.about__data{
    position: relative;
    bottom: 50px;
    background-color: white;
    padding: 3rem 1.25rem;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    border-radius: .625rem;
}
.about__subtitle{
    text-align: start;
}
.about__data-img{
    position: absolute;
    width: 120px;
    top: -64px;
    right: 0;
}

/* Rama de cafe one*/
.rama-de-cafe-one{
    position: absolute;
    left: -149px;
    bottom: -260px;
    width: 456px;
    transform: rotate(4deg);
    opacity: 0.3;
    z-index: -10;
}

/* ----------------| Menu |--------------- */
.menu{
    padding-top: 50px;
    position: relative;
}

.menu__filters{
    display: flex;
    overflow-x: auto;
    justify-content: center;
}
/* Ocultar scroll */
.menu__filters::-webkit-scrollbar{
    display: none;
}
.menu__item{
    font-weight: var(--font-medium);
    border: 0;
    padding: .3125rem 1.25rem;
    border-radius: .3125rem;
}
.menu__item:hover{
    background-color: var(--first-color);
    padding: .3125rem 1.25rem;
}
.menu__cards{
    grid-template-columns: 1fr;
}
.menu__card{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: .625rem;
    padding: 1.25rem .5rem;
}
.menu__card-img{
    width: 64px;
}
.menu__card-data{
    width: 100%;
}
.menu__card-title{
    font-weight: var(--font-semibold);
    font-size: 1.125rem;
    margin-bottom: .3125rem;
}
.menu__card-price{
    font-size: 1.5rem;
}

/* Rama de cafe two*/
.rama-de-cafe-two{
    position: absolute;
    right: -149px;
    bottom: -168px;
    width: 500px;
    transform: rotate(140.37deg);
    opacity: 0.3;
    z-index: -10;
}

/* ----------------| gallery |--------------- */
.gallery__container{
    grid-template-columns: 1fr;
}
.gallery__img img{
    border-radius: .625rem;
    background-size: cover;
    object-fit: cover;
    height: 280px;
    width: 100%;
}

/* ----------------| Phrase |--------------- */
.phrase{
    position: relative;
}
.phrase_text{
    font-size: 1.75rem;
    font-family: var(--alt-font);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: 8.75rem;
}

/* Rama de cafe three*/
.rama-de-cafe-three{
    position: absolute;
    right: -282px;
    bottom: 43px;
    width: 435px;
    transform: rotate(147.69deg);
    opacity: 0.3;
}

/* ----------------| Footer |--------------- */
.footer__container{
    grid-template-columns: 1fr;
    position: relative;
}
.footer-sub__container{
    background-color: var(--first-color);
    padding: 3rem 1.125rem;
    border-radius: .625rem;
    gap: 1rem;
    position: relative;
    top: -50%;
}
.footer-sub__text{
    text-align: center;
    font-size: 1.125rem;
    padding-bottom: .625rem;
    font-weight: var(--font-medium);
}
.footer-sub__content{
    display: flex;
    background-color: white;
    border-radius: .625rem;
    padding: .3125rem .5rem;
}
.footer-sub__email{
    border: 0;
    width: 100%;
    color: #B3B3B3;
    padding: .9375rem .375rem;
    border-radius: .625rem;
}
.footer-sub__button{
    border: 0;
    color: white;
    background-color: #4C956C;
    padding: .9375rem .375rem;
    border-radius: .625rem;
}

.cafe-subscribe-img{
    position: absolute;
    top: -180px;
    left: -72px;
    width: 144px;
    z-index: -1;
}

.footer{
    height: 100%;
    margin-top: 6.25rem;
    background-image: linear-gradient(180deg, rgba(88, 62, 35, 0.8) 0%, rgba(30, 30, 30, 0.8) 100%), url('https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__logo{
    color: white;
    font-size: 1.375rem;
    font-weight: var(--font-bold);
    display: flex;
    margin-bottom: .625rem;
}
.footer__map{
    width: 100%;
    border-radius: .625rem;
}
.footer__title{
    color: white;
    font-size: 1.125rem;
    font-weight: var(--font-semibold);
    margin-bottom: .9375rem;
    margin-top: 2rem;
}
.footer__link li{
    margin-bottom: .625rem;
}
.footer__link li a{
    color: white;
}
.footer__item{
    display: flex;
    align-items: center;
}
.footer__item i{
    margin-right: .5rem;
}
.footer__link--flex{
    display: flex;
    gap: .5rem;
}
.footer__icon{
    color: white;
    font-size: 1.25rem;
}
.footer__info{
    margin-top: .625rem;
}
.footer__copy{
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 2.375rem;
}

/* ----------------| Scroll Bar |--------------- */
::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(228, 4%, 15%);
}

::-webkit-scrollbar-thumb{
    background-color: var(--first-color);
}

::-webkit-scrollbar-thumb:hover{
    background-color: #FF9853;
}

/* ----------------| Scroll Up |--------------- */
.scrollup{
    position: fixed;
    right: 1.25rem;
    bottom: -30%;
    border-radius: 5px;
    background-color: var(--first-color);
    box-shadow: 0 8px 12px var(--color-shadow);
    display: inline-flex;
    padding: .35rem;
    color: white;
    font-size: 1.1rem;
    z-index: var(--z-tooltip);
    transition: .3s;
}
.scrollup:hover{
    transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll{
    bottom: 1.25rem;
}

/* ----------------| Breakpoints |--------------- */
/* For small devices */
@media screen and (max-width: 340px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .nav__menu{
        width: 362px;
    }
}

@media screen and (min-width: 767px){
    .nav__close, .nav__toggle{
        display: none;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list{
        flex-direction: row;
        column-gap: 2.625rem;
    }

    .home{
        height: 35rem;
    }
    .home__title{
        font-size: 4rem;
    }
    .home__text{
        width: 35.625rem;
    }

    .about__container{
        bottom: 5.375rem;
        margin-bottom: 200px;
    }
    .about__img{
        width: 486px;
    }
    .about__data{
        width: 420px;
        position: absolute;
        bottom: -200px;
        left: 40%;
    }
    .about__data-img{
        width: 180px;
        top: -91px;
    }

    .menu__cards{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .gallery__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .phrase_text{
        font-size: 2.25rem;
    }

    .footer__content{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-sub__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cafe-subscribe-img{
        top: -152px;
    }
}

/* For large devices */
@media screen and (min-width: 1023px){
    .section__title {
        font-size: 4rem;
    }

    .home{
        height: 38.125rem;
    }

    .rama-de-cafe-one{
        left: -156px;
        bottom: -288px;
        width: 680px;
    }

    .rama-de-cafe-two{
        right: -126px;
        width: 710px;
    }

    .rama-de-cafe-three{
        right: -384px;
        width: 582px;
    }

    .home__title{
        font-size: 5.875rem;
    }

    .about__img{
        width: 586px;
    }
    .about__data{
        width: 586px;
        position: absolute;
        bottom: -200px;
        left: 40%;
        padding: 3.25rem;
    }
    .about__data-img{
        width: 224px;
        top: -117px;
    }

    .gallery__container{
        grid-template-columns: repeat(4, 1fr);
    }

    .cafe-subscribe-img{
        top: -190px;
        left: -112px;
        width: 214px;
    }

    .footer__content{
        grid-template-columns: 2fr 1fr 2fr 1fr;
    }
    .footer-sub__email{
        width: 26.25rem;
    }
}

@media screen and (min-width: 1054px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1124px){
    .scrollup{
        right: 3rem;
    }
    .show-scroll{
        bottom: 3rem;
    }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
    body{
        zoom: 1.3;
    }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
    body{
        zoom: 2.3;
    }
}